.cell {
  border: 1px solid gray;
  background-color: gray;
  opacity: 0.5;
  color: black;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.cell:hover,
.start:hover,
.end:hover,
.wall:hover {
  scale: 1.05;
}

.start {
  border: 1px solid aquamarine;
  background-color: aquamarine;
  opacity: 0.5;
  cursor: pointer;
}

.end {
  border: 1px solid red;
  background-color: red;
  opacity: 0.5;
  cursor: pointer;
}

.wall {
  border: 1px solid black;
  background-color: black;
  color: black;
  cursor: pointer;
}
