<div
  [classList]="
    isStartNode()
      ? 'start'
      : isEndNode()
      ? 'end'
      : isWallNode()
      ? 'wall'
      : 'cell'
  "
  (click)="handleClick()"
>
  @if(node.isInShortestPath) {
  <span class="block path">G:{{ node.gCost }}</span>
  <span>F:{{ node.fCost }}</span>
  } @else { @if (!node.isStart && !node.isEnd && !node.isWall) {
  <span class="block">G:{{ node.gCost }}</span>
  <span>F:{{ node.fCost }}</span>
  } @else { @if (node.isStart) {
  <span class="block">Start</span>
  } @if (node.isEnd) {
  <span class="block">End</span>
  } @if (node.isWall) {
  <span class="block">Wall</span>
  } } }
</div>
