<mat-card class="example-card mt-5" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Find Path</mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><button mat-flat-button (click)="handleClear()" class="mt-5">Clear</button>
    @if (startNode && endNode) {

    <button mat-flat-button (click)="handleStart()" class="mt-5 ms-3">
      Start
    </button>
    } @else {
    <button mat-flat-button disabled (click)="handleStart()" class="mt-5 ms-3">
      Start
    </button>
    } @if(error.length > 0) {

    <span class="block text-xs text-orange-300 mt-2"
      >Mininum: 2, maximum: 20</span
    >
    }
  </mat-card-content>
</mat-card>
