.cell {
  border: 1px solid gray;
  background-color: gray;
  opacity: 0.5;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.start {
  border: 1px solid #4cd137;
  background-color: #4cd137;
  opacity: 0.5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.end {
  border: 1px solid #e84118;
  background-color: #e84118;
  opacity: 0.5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.wall {
  border: 1px solid black;
  background-color: black;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.path {
  border: 1px solid #9c88ff;
  background-color: #9c88ff;
  opacity: 0.5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

.visited {
  border: 1px solid #fbc531;
  background-color: #fbc531;
  opacity: 0.5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20%;
}
