<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened
    ><section class="flex flex-col px-5 py-2 justify-center h-full">
      <app-grid-card></app-grid-card>
      <app-node-card></app-node-card>
      <app-search-card
        [startNode]="startNode"
        [endNode]="endNode"
      ></app-search-card>
      <app-description-card></app-description-card>
    </section>
    @if(error !== null) {
    <div class="text-center mt-5">
      {{ error }}
    </div>
    }
  </mat-sidenav>
  <mat-sidenav-content><app-grid></app-grid></mat-sidenav-content>
</mat-sidenav-container>
